.page {
	width: 100%;
	padding: 6% 10%;
}
.page__back {
	background-color: #282828;
	padding: 50px 100px;
	box-shadow: 5px 5px 10px black;
}
.page__name {
	display: block;
	text-align: center;
	padding-bottom: 40px;
	font-size: 30px;
}