.task__form {
    position: relative;
    margin: 0 10px;
  }
  .task__input {
    background-color: transparent;
    color: aliceblue;
    font-size: 20px;
    padding: 8px 2px;
    border: none;
    outline: none;
  }
  .task__line {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    
    background-color: aliceblue;
    position: relative;
    transition: width .5s linear;
    top: -6px;
  }
  .task__line::before {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    
    background-color: #FFD700;
    position: relative;
    transition: width .5s linear;
    top: 0px;
  }
  .task__input:focus + .task__line::before  {
	  width: 100%;
  }
  .task__button {
    margin: 0 10px;
    padding: 6px 20px;
    border: 1px solid aliceblue;
    transition: all .4s linear;
    background-color: transparent;
    color: aliceblue;
  }
  .task__button:hover {
    border: 1px solid #202020;
    color: #202020;
    background-color: #FFD700;
    background: rgb(255,250,17);
    background: linear-gradient(90deg, rgba(255,250,17,1) 0%, rgba(255,215,0,1) 100%);
    cursor: pointer;
    box-shadow: 3px 3px 10px black;
  }
  .task__answer {
    display: none;
  }


  .task {
    padding: 10px;
    width: 100%;
    max-width: 1400px;
    margin-bottom: 14px;
    box-shadow: 7px 7px 10px black;
  }
  .task__inner {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .task__name {
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 500;
  }
  .task__desc {
    display: none;
  }
  .task__content {
    padding-bottom: 10px;
  }
  .task__description {
    font-size: 24px;
    padding: 10px 0;
  }
  .task__fix {
    display: flex;
    justify-content: space-between;
  }
  .task__display {
    display: none;
  }
  .task__one {
    display: block ;
  }
  .task__two {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .task {
      padding: 10px;
      width: 100%;
      max-width: 1400px;
      margin-bottom: 14px;
      box-shadow: 7px 7px 10px black;
    }
    .task__inner {
      background-color: #202020;
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
    .task__name {
      padding-bottom: 10px;
      font-size: 24px;
      font-weight: 500;
    }
    .task__content {
      padding-bottom: 10px;
    }
    .task__description {
      font-size: 22px;
      padding: 10px 0;
    }
    .task__fix {
      padding: 10px 0;
      flex-direction: column;
    }
  
  }