.translate {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    position: fixed;
    top: 80px;
    right: 0px;
    margin: 0;
    padding: 0 8px;
    z-index: 1000
}
.translate__button {
    
    font-size: 24px;
    padding: 18px 6px;
    cursor: pointer;
    font-family: 'Audiowide', cursive;
    transition: all .3s linear;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    border: 1px solid #202020;
    color: gray;
    border: 1px solid #313131;
}
.translate__button:hover {
    color:#202020;
    background-color: #FFD700;
    border:#202020;
}