{% extends "kzversion/base.html" %}

{% block title %} FAQ {% endblock %}

{% block translate %}
        <div class = "translate">
            <a class = "translate__button" href = "faq"> RU</a>
            <a class = "translate__button" href = "lectionkz" >KZ</a>
        </div>
    {% endblock %}


{% block content %}
<div class = "category">
    <div class = "category__title">FAQ</div>
    <div class = "category__item">

        <div class = "article">
            <div class = "article__name">Мазмұнды басқару үшін VIP есептік жазбасын қалай алуға болады?</div>
            <div class  = "article__description">Біріншіден, қолдау(support) ретінде жазыңыз. Әрі қарай, Мен сіздің логиніңіз бен пароліңізді электрондық поштаға жіберемін. Содан кейін сіз оны енгізуіңіз керек<a href = "http://127.0.0.1:8000/admin/login/?next=/admin/">мұнда</a>сізде жеке шот болады, содан кейін мақалаларды қосуға, өңдеуге немесе жоюға болады.</div>
        </div>

        <div class = "article">
            <div class = "article__name">Мен парольді/логинді ұмытып қалдым</div>
            <div class  = "article__description">
                Support-қа жазыңыз, Мен сізге жаңа пароль немесе логин жіберемін.
            </div>
        </div>

        <div class = "article">
            <div class = "article__name">Менде дәрістер / зертханалық / практикалық жаттығулар жүктелмейді</div>
            <div class  = "article__description">
                Support-қа жазыңыз, мәселеңізді түсіндіріп, түзетуге тырысыңыз.
            </div>
        </div>

        <div class = "article">
            <div class = "article__name">Менде идеялар бар</div>
            <div class  = "article__description">
                Support - қа жазыңыз.
            </div>
        </div>

        <div class = "article">
            <div class = "article__name">Сайтта қосымша бар ма?</div>
            <div class  = "article__description">
                Мен жеке қосымшаны құруды жоспарламаймын. Сайттың мобильді нұсқасының (PWA) белгішесін негізгі экранға орнатуға болады: шолғышты ашыңыз, сайтты ашыңыз, содан кейін шолғыш параметрлеріне өтіңіз, параметрлерде "негізгі экранға төте жол қосу" немесе ұқсас нәрсе.
            </div>
        </div>
        
        <div class = "article">
            <div class = "article__name">Құпия сөзді қалай өзгертуге болады?</div>
            <div class  = "article__description">
                Құпия сөзді жоғарғы оң жақ бұрыштағы жеке кабинетте «Құпия сөзді өзгерту» бөлімінде өзгертуге болады.
            </div>
        </div>

        <div class = "article">
            <div class = "article__name">Пайдаланушы атын қалай өзгертуге болады?</div>
            <div class  = "article__description">
                Мүмкін емес. Қазіргі уақытта мұндай мүмкіндік жоқ. Болашақта қосуым мүмкін.
            </div>
        </div>

    </div>
</div>
{% endblock %}


<!--Footer-->
{% block foote %}{% endblock %}