{% extends "kzversion/base.html" %}

{% block title %}
 {{ title }}
{% endblock %}

{% block translate %}
        <div class = "translate">
            <a class = "translate__button" href = "practise"> RU</a>
            <a class = "translate__button" href = "practisekz" >KZ</a>
        </div>
    {% endblock %}

{% block tasks %}

<div class = "category">
  <div class = "category__title">Молекулалық физика</div>
  <div class = "category__item">
        {% if task %}
          {% for i in task %}
          <div class = "article">
            <a class = "article__name">{{ i.name }}</a>
            <div class = "article__footer">
                <div class = "article__tegi">
                    <a href = "">{{ i.tags  }}</a>
                </div>
                <div class = "article__data">{{ i.data }}</div>
            </div>
        </div>
  {% endfor  %}
  {% else %}
    <div class = "category__else">Мұнда жазбалар жоқ</div>
  {% endif %}
</div>
</div>
{% endblock %}

