/*import other file */
@import "blocks/header.css";
@import "blocks/translate.css";
@import "blocks/intro.css";
@import "blocks/theme.css";
@import "blocks/footer.css";
@import "blocks/category.css";
@import "blocks/article.css";
@import "blocks/pag.css";



@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
/*need code*/
body {
  background-color:  #202020;
  color: aliceblue;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

  li {
    list-style-type: none;
  }

a {
  display: block;
  padding: 0 10px;
  color: burlywood;
}

/*pag */
.page {
  width: 100%;
  padding: 6% 10%;
  margin-bottom: 30px;
}
.page__back {
  background-color: #282828;
  padding: 50px 100px;
  box-shadow: 5px 5px 10px black;
}
.page__name {
  display: block;
  text-align: center;
  padding-bottom: 40px;
  font-size: 30px;
}