{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--icon-->
    <link rel = "stylesheet" href  = "{% static 'main/css/main.css' %}" >
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>{% block title %} {% endblock %}</title>
</head>
<body translate="yes">
    {%block head %} 
    <head>
        <!--meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"-->
        <!--icon-->
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    {% endblock %}
    {% block header %}
    <header class = "header" >
		<div class = "header__log">
			<div class= "header__logotip header__spechial">
                <img src = "https://cdn-icons-png.flaticon.com/512/1940/1940630.png" class>
            </div>
			<a href="/" class= " header-name">Физика</a>
		</div>
		<div class = "header__menu">
			<div class = "header__flex" id = "heade">
				<a class = "header__button" href = "staties">Лекции</a>
				<a  class = "header__button" href = "labworks">Лабораторные работы</a>
				<a  class = "header__button"href = "practise">Практические работы</a>
				<a  class = "header__button"href = "exem">Экзаменационный материал</a>
				<!-- <a class = "header__button" href = "formuls" >Формулы</a> -->
			</div>
			
			<div class  = "header__mob">
				<div class = "header__open" id = "openMenu"  onclick="open__menu()"><span class="material-icons  md-48 menu pinki" >menu</span></div>
				<div class = "header__close" onclick="close__menu()" id = "closeMenu">
					<span class="material-icons  md-48 menu pinki" >close</span>
				</div>
			</div>
		</div>
        
	</header>
	<style>
		#heade {
			display: flex;
			align-items: center;
		}
	</style>
    <script>
        console.log("hello");
        //Переменные
        const closeMenu = document.getElementById("closeMenu");
        const openMenu = document.getElementById("openMenu");
        const menu = document.getElementById("heade");


        //______menu______
        //open
        const open__menu = () => {
            closeMenu.style.display = "block";
            openMenu.style.display = "none";
            menu.style.top = "70px";
        };
        //close
        const close__menu = () => {
            closeMenu.style.display = "none";
            openMenu.style.display = "block";
            menu.style.top = "-380px";
        };

    </script>
    {% endblock %}

    {% block translate %}{% endblock %}

    {% block tasks%}
    {% endblock %}
    


<!--____CONTENT ELEMENT_____-->
	{% block searchTitle %}{% endblock %}
	{% block themes %}{% endblock %}
	{% block list %}{% endblock %}
	{% block content %}{% endblock %}
	


<!--_______FOOTER_____-->
    {% block footer %}
    <footer class = "footer">
		<div class = "footer__item">
			<div class = "header__log footer__logo">
			<div class= "header__logotip"><img src = "https://cdn-icons-png.flaticon.com/512/1940/1940630.png" class></div>
			<div class= "header__name footer__name">Физика</div>
		</div>
		</div>
		<div class = "footer__item">
			<div class = "footer__name footer__none" style = "display: none;">Vaseles</div>
            <div class = "footer__name footer__none" style = "display: none;">_git_hub_ https://github.com/Vaseles</div>
			<style>
				
			</style>
			<div class = "footer__email footer__i" type = "email">vaselesstolarov813@gmail.com</div>
		</div>
		<div class = "footer__item footer-mini_menu">
			<a href = "faq" class = "footer__link">FAQ</a>
			<div class = "footer__link" onclick =" openSupport()" id = "support" >support</div>
		</div>
	</footer>
	<!--div class = "support" id = "supportWindow">
		
				<form action="/" method="post" class = "support__item">
					<div class = "suport__close">
						<span class="material-icons  md-48 close" id = 'closeWindow' onclick = "close__window()">close</span>
					</div>
					<div class = "support__inner">
						<div class = "support__name">Ваше имя</div>
						<input class = "support__input" type = "text">
						<span class = "support__line"></span>
					</div>
				
				<div class = "support__inner">
					<div class = "support__name">E-mail</div>
					<input class = "support__input" type="email">
					<span class = "support__line"></span>
				</div>
					
				<div class = "support__inner">
					<div class = "support__name">Ваша проблема</div>
					<textarea class  = "suppor__area  support__area--textarea" name = "comment" placeholder="Your problem..." data-autoresize></textarea>
						<span class = "support__line"></span>
				</div>
				<button class = "support__button" type="submit">send</button>
			</form>
			</div-->

    {% endblock %}

	<script src = "{% static 'main/js/script.js' %}"></script>
</body>
</html>