{% extends "main/base.html" %} 

{% block title %} FAQ {% endblock %}

{% block translate %}
<div class = "translate">
	<a class = "translate__button" href = "faq" >RU</a>
	<a class = "translate__button"  href = "faqkz">KZ</a>
</div>
{% endblock %}

<!--other content-->
{% block content %}
<div class = "category">
    <div class = "category__title">FAQ</div>
    <div class = "category__item">

        <div class = "article">
            <div class = "article__name">Как получить вип-аккаунт, чтобы управлять контентом?</div>
            <div class  = "article__description">Во-первых, напишите в поддержку(support). Дальше, вам пришлю на емаил ваш логин и пароль. После чего вы должны будете его ввести <a href = "http://127.0.0.1:8000/admin/login/?next=/admin/">здесь</a> и у вас появится личный кабинет, после чего вы можете добавлять, редактировать или же удалять статьи.</div>
        </div>

        <div class = "article">
            <div class = "article__name">Я забыл пароль/логин</div>
            <div class  = "article__description">
                Напишите в support, вам пришлю новый пароль или логин.
            </div>
        </div>

        <div class = "article">
            <div class = "article__name">У меня не загружается лекции/лабораторные/практические</div>
            <div class  = "article__description">
                Напишите в support, разъяснив свою проблему, попытаюсь исправить.
            </div>
        </div>

        <div class = "article">
            <div class = "article__name">У меня есть идеи</div>
            <div class  = "article__description">
                Пишите в support.
            </div>
        </div>

        <div class = "article">
            <div class = "article__name">Есть ли у сайта приложение?</div>
            <div class  = "article__description">
                Я не планирую создавать отдельное приложение. Вы можете установить иконку мобильной версии сайта (PWA) на главный экран: откройте браузер, откройте сайт, затем зайдите в настройки браузера, в настройках нажмите «Добавить ярлык на главный экран» или что-то похожее.
            </div>
        </div>
        
        <div class = "article">
            <div class = "article__name">Как сменить пароль?</div>
            <div class  = "article__description">
                Сменить пароль можно в личном кабинете в верхнем правом углу, раздел «Изменить пароль».
            </div>
        </div>

        <div class = "article">
            <div class = "article__name">Как сменить имя пользователя?</div>
            <div class  = "article__description">
                Никак. В данный момент такой функции нет. В будущем может быть добавлю.
            </div>
        </div>

    </div>
</div>
{% endblock %}
