{% extends "main/base.html" %} 

{% block title %}
 {{ title }}
{% endblock %}


{% block translate %}
        <div class = "translate">
            <a class = "translate__button" href = "/" >RU</a>
            <a class = "translate__button"  href = "kz">KZ</a>
        </div>
    {% endblock %}

{% block searchTitle %}
	<div class = "intro">
		<img class = "intro__image" src = "https://images.pexels.com/photos/1516983/pexels-photo-1516983.jpeg?cs=srgb&dl=pexels-lisa-fotios-1516983.jpg&fm=jpg" alt = "">
		<div class = "intro__rel">
			<div class = "intro__title">Поиск по темам</div>
			<div class = "intro__sea">
				<input class = "intro__input" placeholder="введите текст" type="search">
				<button class = "intro__searh">
					<span class="material-icons  md-48 menu" >search</span>
				</button>
			</div>
		</div>
	</div>
	{% endblock %}

  {% block themes %}
	<div class = "themes">
		
		<figure class  = "block blue">
			<img src = "https://images.pexels.com/photos/239419/pexels-photo-239419.jpeg?cs=srgb&dl=pexels-markus-spiske-239419.jpg&fm=jpg" class = "block__img"  alt = "">
				<figcaption class = "block__item">
					<div class = "block__text">Механика</div>
				</figcaption>
				<a href = "#" class = "block__link"></a>
		</figure>
		
		
		<figure class  = "block black special">
			<img src = "https://images.pexels.com/photos/10670941/pexels-photo-10670941.jpeg?cs=srgb&dl=pexels-rafael-classen-rcphotostockcom-10670941.jpg&fm=jpg" class = "block__img"  alt = "">
				<figcaption class = "block__item">
					<div class = "block__text">Молекулярная физика</div>
				</figcaption>
				<a href = "#" class = "block__link"></a>
		</figure>
		<figure class  = "block yellow special">
			<img src = "https://images.pexels.com/photos/401107/pexels-photo-401107.jpeg?cs=srgb&dl=pexels-saya-kimura-401107.jpg&fm=jpg" class = "block__img"  alt = "">
				<figcaption class = "block__item">
					<div class = "block__text">Электричество</div>
				</figcaption>
				<a href = "#" class = "block__link"></a>
		</figure>
		<figure class  = "block pink special">
			<img src = "https://cdn.pixabay.com/photo/2016/02/25/17/31/atom-1222512_960_720.jpg" class = "block__img"  alt = "">
				<figcaption class = "block__item">
					<div class = "block__text">Атомная физика</div>
				</figcaption>
				<a href = "#" class = "block__link"></a>
		</figure>
		
		<figure class  = "block red special">
			<img src = "https://cdn.pixabay.com/photo/2016/02/25/17/31/atom-1222511_960_720.jpg" class = "block__img"  alt = "">
				<figcaption class = "block__item">
					<div class = "block__text">Ядерная физика</div>
				</figcaption>
				<a href = "#" class = "block__link"></a>
		</figure>
		

		
	</div>
	{% endblock %}

