{% extends "main/base.html" %} 

{% block title %} {{ title }} {% endblock %}


<article>
    {% block content %}

        {% for i in laborators %}
            <div class = "page">
                <div class = "page__back">
                    <a class = "article__name"  >{{ i.title }}</a>
                    <div class = "article__description article__description--special"><span class = "article__description--span" >Цели:</span> {{ i.description }} </div>
                    <div class = "article__description  article__description--special"><span class = "article__description--span" >Материалы и оборудование:</span> {{ i.materials }} </div>
                    <div class = "article__description"> {{ i.text }} </div>
                    <div class = "article__footer">
                        <div class = "article__tegi">
                            <a href = "">{{ i.category  }}</a>
                        </div>
                        <div class = "article__data">{{ i.data }}</div>
                    </div>
                </div>
            </div>
         {% endfor %}

    {% endblock %}
</article>