{% extends 'main.html' %}

{% block title %}{% endblock title %}
{% block content %}
<div class="lections">
  <div class="lections__posts">
      {% for labwork in labworks  %}
          <div class="article">
              <a href="{% url 'base:labwork' labwork.id %}"><h2>{{labwork.title}}</h2></a>
              <div class='article__text'>{{labwork.text|truncatewords:50}}</div>
              <div class="article__item">
                  <div class="article__tag">{{labwork.tag}}</div>
                  <p>{{labwork.updated}}</p>
              </div>
          </div>
      {% endfor %}
  </div>
</div>
{% endblock content %}